.header {
  background-color: #4e4646;
}
@media (max-width: 320px) {
  .header {
    font-size: calc()
  }

@media (max-width: 640px) {
  .header {
    font-size: calc(24px / 3);
    background-image: url("https://netology-code.github.io/mq-homeworks/adaptive-layout/welcome-block/img/netology_600.jpg");
  }
}

@media (min-width: 641px) and (max-width: 1300px) {
  .header {
    font-size: calc(36px / 3);
    background-image: url("https://netology-code.github.io/mq-homeworks/adaptive-layout/welcome-block/img/netology_1200.jpg");
  }
}

@media (min-width: 1301px) {
  .header {
    font-size: 16px;
    background-image: url("https://netology-code.github.io/mq-homeworks/adaptive-layout/welcome-block/img/netology_1900.jpg");
  }
}

.logo {
  width: 18em;
  margin-bottom: 2em;
}

.header__slogan {
  font-size: 3em;
}
}